Repository hpi-studyu/studyu, pull requests merged in 2023-07, with the labels that each got.

#454 Remove legacy FHIR support
  app/lib/screens/study/tasks/observation/questionnaire_task_widget.dart
  app/lib/widgets/fhir_questionnaire/annotated_scale_question_widget.dart
  app/lib/widgets/fhir_questionnaire/boolean_question_widget.dart
  app/lib/widgets/fhir_questionnaire/choice_question_widget.dart
  app/lib/widgets/fhir_questionnaire/question_container.dart
  app/lib/widgets/fhir_questionnaire/question_header.dart
  app/lib/widgets/fhir_questionnaire/question_widget.dart
  app/lib/widgets/fhir_questionnaire/questionnaire_widget.dart
  app/lib/widgets/fhir_questionnaire/visual_analogue_question_widget.dart
  app/pubspec.lock
  app/pubspec.yaml
  core/lib/src/models/results/result.dart
  core/lib/src/models/tables/study.dart
  core/lib/src/models/tables/study.g.dart
  core/lib/src/models/tables/study_subject.dart
  core/pubspec.lock
  core/pubspec.yaml
  database/studyu-schema.sql
  designer_v2/pubspec.lock
  docs/database/README.md
  docs/database/public.repo.svg
  docs/database/public.study.md
  docs/database/public.study.svg
  docs/database/public.study_invite.svg
  docs/database/public.study_subject.svg
  docs/database/public.user.svg
  docs/database/schema.json
  docs/database/schema.svg
  flutter_common/pubspec.lock
Labels: question, dependencies, app, core, flutter_common, designer_v2

#478 chore(release): publish packages
  CHANGELOG.md
  app/CHANGELOG.md
  app/pubspec.lock
  app/pubspec.yaml
  core/CHANGELOG.md
  core/pubspec.yaml
  designer_v2/CHANGELOG.md
  designer_v2/pubspec.lock
  designer_v2/pubspec.yaml
  flutter_common/CHANGELOG.md
  flutter_common/pubspec.lock
  flutter_common/pubspec.yaml
Labels: documentation, dependencies, app, core, flutter_common, designer_v2

#485 Issue/483 bug study registry visibility issues
  core/lib/src/models/tables/study.dart
  database/studyu-schema.sql
Labels: core
