Repository hpi-studyu/studyu, pull requests merged in 2023-08, with the labels that each got.

#498 Issue/497 bug designer breaks when resizing window
  designer_v2/lib/features/auth/auth_scaffold.dart
Labels: designer_v2

#484 Issue/482 supabase test framework
  .github/workflows/supabase-test.yml
  database/migration/migrate-v1_v2.sql
  database/studyu-schema.sql
  docker/README.md
  docker/docker-compose-app.yml
  docker/docker-compose-designer.yml
  docker/docker-compose-designer_legacy.yml
  docker/docker-compose-proxy.yml
  docker/docker-compose.yml
  docker/load-test/k6.js
  docker/supabase/.gitignore
  docker/supabase/config.toml
  docker/supabase/docker-compose-db.yml
  docker/supabase/docker-compose.yml
  docker/supabase/export_schema.sh
  docker/supabase/tests/000-supabase_test_helpers.sql
  docker/supabase/tests/001_generic_test_helpers.sql
  docker/supabase/tests/010-study.sql
  docker/supabase/volumes/api/kong.yml
  docs/database/README.md
  docs/database/public.study_subject.md
  docs/database/schema.json
Labels: documentation, docker

#501 Fix result charts for `average` report
  app/ios/Podfile.lock
  app/lib/l10n/app_de.arb
  app/lib/l10n/app_en.arb
  app/lib/screens/study/report/performance/performance_section.dart
  app/lib/screens/study/report/sections/average_section_widget.dart
  app/lib/screens/study/report/util/plot_utilities.dart
  app/lib/widgets/intervention_card.dart
  docs/uml/app/lib/screens/study/report/sections/uml.svg
  docs/uml/app/lib/screens/study/report/uml.svg
  docs/uml/app/lib/screens/study/report/util/uml.svg
  docs/uml/app/lib/screens/study/uml.svg
  docs/uml/app/lib/screens/uml.svg
  docs/uml/app/lib/uml.svg
  docs/uml/app/lib/widgets/uml.svg
Labels: documentation, app

#502 Fix duplicated IDs
  designer_v2/lib/domain/study.dart
  docs/uml/designer_v2/lib/domain/uml.svg
  docs/uml/designer_v2/lib/uml.svg
Labels: designer_v2

#503 chore/app/pod-upgrade
  app/ios/Podfile.lock
Labels: app

#506 chore: Remove hpi deployment
  .firebaserc
  .github/workflows/firebase-hosting-merge-hpi.yml
  flutter_common/lib/envs/.env.hpi
Labels: flutter_common
