Repository hpi-studyu/studyu, pull requests merged in 2023-11, with the labels that each got.

#514 Fix #513 (navigation bug)
  app/lib/screens/study/dashboard/dashboard.dart
  docs/uml/app/lib/screens/app_onboarding/uml.svg
  docs/uml/app/lib/screens/study/dashboard/uml.svg
  docs/uml/app/lib/screens/study/tasks/uml.svg
  docs/uml/app/lib/screens/study/uml.svg
  docs/uml/app/lib/screens/uml.svg
  docs/uml/app/lib/uml.svg
  docs/uml/app/lib/util/uml.svg
  docs/uml/core/lib/src/models/expressions/uml.svg
  docs/uml/core/lib/src/models/observations/tasks/uml.svg
  docs/uml/core/lib/src/models/observations/uml.svg
  docs/uml/core/lib/src/models/tables/uml.svg
  docs/uml/core/lib/src/models/tasks/uml.svg
  docs/uml/core/lib/src/models/uml.svg
  docs/uml/core/lib/src/uml.svg
  docs/uml/core/lib/uml.svg
  docs/uml/designer_v2/lib/features/auth/uml.svg
  docs/uml/designer_v2/lib/features/design/reports/uml.svg
  docs/uml/designer_v2/lib/features/design/uml.svg
  docs/uml/designer_v2/lib/features/uml.svg
  docs/uml/designer_v2/lib/uml.svg
  docs/uml/designer_v2/lib/utils/uml.svg
Labels: app

#511 Issue/508 bug fixes
  designer_v2/lib/common_views/primary_button.dart
  designer_v2/lib/features/app_drawer.dart
  designer_v2/lib/features/auth/auth_form_controller.dart
  designer_v2/lib/features/design/info/study_info_form_view.dart
  designer_v2/lib/features/design/interventions/intervention_form_view.dart
  designer_v2/lib/features/design/interventions/intervention_task_form_view.dart
  designer_v2/lib/features/design/measurements/survey/survey_form_view.dart
  designer_v2/lib/features/design/shared/questionnaire/question/question_form_view.dart
  designer_v2/lib/routing/router_config.dart
  docs/uml/app/lib/screens/study/uml.svg
  docs/uml/app/lib/screens/uml.svg
  docs/uml/app/lib/uml.svg
  docs/uml/app/lib/util/uml.svg
  docs/uml/designer_v2/lib/common_views/uml.svg
  docs/uml/designer_v2/lib/features/auth/uml.svg
  docs/uml/designer_v2/lib/features/design/interventions/uml.svg
  docs/uml/designer_v2/lib/features/design/measurements/survey/uml.svg
  docs/uml/designer_v2/lib/features/design/measurements/uml.svg
  docs/uml/designer_v2/lib/features/design/reports/uml.svg
  docs/uml/designer_v2/lib/features/design/shared/questionnaire/question/uml.svg
  docs/uml/designer_v2/lib/features/design/shared/questionnaire/uml.svg
  docs/uml/designer_v2/lib/features/design/shared/uml.svg
  docs/uml/designer_v2/lib/features/design/uml.svg
  docs/uml/designer_v2/lib/features/uml.svg
  docs/uml/designer_v2/lib/routing/uml.svg
  docs/uml/designer_v2/lib/uml.svg
  docs/uml/designer_v2/lib/utils/uml.svg
Labels: documentation, designer_v2

#510 Issue/508 feature integration testing for three scenarios
  .github/workflows/e2e_tests.yml
  .github/workflows/uml-docs.yml
  designer_v2/integration_test/app_test.dart
  designer_v2/integration_test/robots/app_robot.dart
  designer_v2/integration_test/robots/auth_robot.dart
  designer_v2/integration_test/robots/robots.dart
  designer_v2/integration_test/robots/studies_robot.dart
  designer_v2/integration_test/robots/study_design_robot.dart
  designer_v2/integration_test/robots/study_info_robot.dart
  designer_v2/integration_test/robots/study_interventions_robot.dart
  designer_v2/integration_test/robots/study_measurements_robot.dart
  designer_v2/lib/features/app.dart
  designer_v2/pubspec.lock
  designer_v2/pubspec.yaml
  designer_v2/test_driver/integration_driver.dart
  docs/uml/designer_v2/lib/features/uml.svg
  docs/uml/designer_v2/lib/uml.svg
Labels: dependencies, designer_v2

#525 fix: remove old env and add new hpi dev env
  docker/supabase/.env.old
  docs/database/README.md
  docs/database/pgsodium.masking_rule.md
  docs/database/pgsodium.masking_rule.svg
  docs/database/schema.json
  docs/database/schema.svg
  flutter_common/lib/envs/.env.dev
Labels: flutter_common, docker

#524 Fix/e2e test fix
  .github/workflows/e2e_tests.yml
  database/app_config.sql
  designer_v2/integration_test/app_test.dart
  designer_v2/lib/features/study/study_test_frame.dart
  designer_v2/lib/features/study/study_test_frame_controllers.dart
  docs/uml/designer_v2/lib/features/study/uml.svg
Labels: designer_v2

#527 Fix/update pod
  app/ios/Podfile.lock
  app/pubspec.yaml
  designer_v2/pubspec.yaml
Labels: dependencies, app, designer_v2
