Repository hpi-studyu/studyu, pull requests merged in 2024-05, with the labels that each got.

#616 docs: update docs
  CONTRIBUTING.md
  README.md
Labels: documentation

#615 refactor: improved app config error handling
  core/lib/src/models/tables/app_config.dart
Labels: core

#611 chore: upgrade deps
  CHANGELOG.md
  app/CHANGELOG.md
  app/pubspec.lock
  app/pubspec.yaml
  core/CHANGELOG.md
  core/lib/src/models/questionnaire/questions/annotated_scale_question.g.dart
  core/lib/src/models/questionnaire/questions/audio_recording_question.g.dart
  core/lib/src/models/questionnaire/questions/free_text_question.g.dart
  core/lib/src/models/questionnaire/questions/scale_question.g.dart
  core/lib/src/models/questionnaire/questions/visual_analogue_question.g.dart
  core/lib/src/models/study_schedule/study_schedule.g.dart
  core/pubspec.lock
  core/pubspec.yaml
  designer_v2/CHANGELOG.md
  designer_v2/lib/features/design/shared/questionnaire/question/question_form_controller.dart
  designer_v2/pubspec.lock
  designer_v2/pubspec.yaml
  docs/uml/app/lib/uml.svg
  docs/uml/app/lib/util/uml.svg
  docs/uml/designer_v2/lib/features/design/shared/questionnaire/question/uml.svg
  docs/uml/designer_v2/lib/features/design/shared/questionnaire/uml.svg
  docs/uml/designer_v2/lib/features/design/shared/uml.svg
  docs/uml/designer_v2/lib/features/design/uml.svg
  flutter_common/CHANGELOG.md
  flutter_common/pubspec.lock
  flutter_common/pubspec.yaml
  melos.yaml
  pubspec.lock
  pubspec.yaml
Labels: documentation, dependencies, app, core, flutter_common, designer_v2

#619 fix: update podfile
  CHANGELOG.md
  app/CHANGELOG.md
  app/ios/Podfile.lock
  app/pubspec.yaml
Labels: documentation, dependencies, app

#620 chore: remove outdated cli
  .github/workflows/e2e_tests.yml
  .gitignore
  CONTRIBUTING.md
  docker/.gitignore
  docker/README.md
  docker/load-test/k6.js
  docker/manual_config_instructions.md
  docker/nginx/proxy/01_common.conf.template
  docker/nginx/proxy/02_common_location.conf.template
  docker/nginx/proxy/03_supabase.conf.template
  docker/nginx/proxy/04_studyu.conf.template
  docker/nginx/proxy/ssl.conf.example.template
  docker/nginx/studyu/component.conf.template
  docker/proxy/.env.example
  docker/proxy/docker-compose-proxy.yml
  docker/studyu/Dockerfile
  docker/studyu/docker-compose-app.yml
  docker/studyu/docker-compose-designer.yml
  docker/studyu/init_studyu.sh
  docker/supabase/.env.example
  docker/supabase/.gitignore
  docker/supabase/README.md
  docker/supabase/config.toml
  docker/supabase/docker-compose-db.yml
  docker/supabase/docker-compose.yml
  docker/supabase/scripts/.gitignore
  docker/supabase/scripts/dump_data.sh
  docker/supabase/scripts/dump_schema.sh
  docker/supabase/scripts/execute_sql.sh
  docker/supabase/tests/000-supabase_test_helpers.sql
  docker/supabase/tests/001_generic_test_helpers.sql
  docker/supabase/tests/010-study.sql
  docker/supabase/volumes/api/kong.yml
  docker/supabase/volumes/db/init/data.sql
  docker/supabase/volumes/db/jwt.sql
  docker/supabase/volumes/db/logs.sql
  docker/supabase/volumes/db/realtime.sql
  docker/supabase/volumes/db/roles.sql
  docker/supabase/volumes/db/webhooks.sql
  docker/supabase/volumes/functions/hello/index.ts
  docker/supabase/volumes/functions/main/index.ts
  docker/supabase/volumes/logs/vector.yml
Labels: documentation, docker

#632 Chore/supabase cli seed
  .github/workflows/e2e_tests.yml
  .github/workflows/supabase-test.yml
  database/migration/20220822_migrate-v1_v2.sql
  database/migration/20230630_migrate-v2_6.sql
  database/migration/20230705_migrate-user_preferences.sql
  database/migration/20231011_migrate_db.sql
  database/migration/20231114_migrate_multimodal.sql
  database/migration/20231207_migrate-v2_result_export.sql
  database/migration/20240205_migrate-app_min_version.sql
  flutter_common/lib/envs/.env.local.example
  supabase/config.toml
  supabase/migrations/0000000000001_studyu-schema.sql
  supabase/migrations/0000000000002_mockup-schema.sql
  supabase/seed-ci.sql
  supabase/seed.sql
  supabase/tests/000-tests_schema.sql
Labels: flutter_common

#622 fix: UI overflows
  app/lib/screens/study/dashboard/dashboard.dart
  app/lib/screens/study/dashboard/task_overview_tab/task_overview.dart
  app/lib/screens/study/report/report_history.dart
Labels: app

#638 chore: format and fix
  app/lib/screens/study/dashboard/task_overview_tab/task_overview.dart
  app/lib/screens/study/report/report_history.dart
Labels: app

#637 docs: Update readme for superbase cli setup
  CONTRIBUTING.md
  melos.yaml
  supabase/README.md
Labels: documentation
