Repository hpi-studyu/studyu, pull requests merged in 2024-08, with the labels that each got.

#671 fix: test sceen validation banner
  designer_v2/lib/features/design/interventions/intervention_form_controller.dart
Labels: designer_v2

#673 Hotfix intervention task validation
  designer_v2/lib/features/design/interventions/intervention_form_controller.dart
Labels: designer_v2

#672 fix: auto-save new study
  designer_v2/lib/features/dashboard/dashboard_controller.dart
  designer_v2/lib/features/dashboard/dashboard_controller.g.dart
Labels: designer_v2

#676 fix: Make invite codes unique
  database/migration/20240801_invite_code_unique.sql
  database/studyu-schema.sql
  designer_v2/lib/main.dart
  designer_v2/lib/repositories/api_client.dart
  designer_v2/lib/repositories/invite_code_repository.dart
  designer_v2/lib/repositories/supabase_client.dart
Labels: designer_v2

#674 chore: make fvm optional with melos
  CONTRIBUTING.md
  melos.yaml
Labels: documentation

#658 feat: disable invite code creation for public studies
  .github/workflows/all_packages.yml
  app/lib/screens/app_onboarding/loading_screen.dart
  database/migration/20240718225620_migrate_disable_invite_public_study.sql
  database/studyu-schema.sql
  designer_v2/lib/features/dialogs/publish/study_publish_dialog_success.dart
  designer_v2/lib/features/recruit/study_recruit_page.dart
  designer_v2/lib/features/study/study_controller.dart
  designer_v2/lib/features/study/study_controller.g.dart
  designer_v2/lib/localization/app_de.arb
  designer_v2/lib/localization/app_en.arb
Labels: app, designer_v2

#669 Bug: Monitoring
  designer_v2/lib/domain/study_monitoring.dart
  designer_v2/lib/features/monitor/participant/participant_info.dart
  designer_v2/lib/features/monitor/participant/participant_legend.dart
  designer_v2/lib/features/monitor/study_monitor_page.dart
  designer_v2/lib/features/monitor/study_monitor_table.dart
  designer_v2/lib/localization/app_de.arb
Labels: designer_v2

#677 Release: August 2024
  .fvmrc
  .github/workflows/all_packages.yml
  .github/workflows/e2e_tests.yml
  CHANGELOG.md
  CONTRIBUTING.md
  app/CHANGELOG.md
  app/android/Gemfile.lock
  app/ios/Podfile.lock
  app/ios/Runner/AppDelegate.swift
  app/lib/screens/app_onboarding/loading_screen.dart
  app/lib/util/notifications.dart
  app/pubspec.lock
  app/pubspec.yaml
  core/CHANGELOG.md
  core/pubspec.lock
  core/pubspec.yaml
  database/migration/20240718225620_migrate_disable_invite_public_study.sql
  database/migration/20240801_invite_code_unique.sql
  database/studyu-schema.sql
  designer_v2/CHANGELOG.md
  designer_v2/lib/common_views/form_buttons.dart
  designer_v2/lib/common_views/form_scaffold.dart
  designer_v2/lib/domain/study_monitoring.dart
  designer_v2/lib/features/dashboard/dashboard_controller.dart
  designer_v2/lib/features/dashboard/dashboard_controller.g.dart
  designer_v2/lib/features/dialogs/publish/study_publish_dialog_success.dart
  designer_v2/lib/features/monitor/participant/participant_info.dart
  designer_v2/lib/features/monitor/participant/participant_legend.dart
  designer_v2/lib/features/monitor/study_monitor_page.dart
  designer_v2/lib/features/monitor/study_monitor_table.dart
  designer_v2/lib/features/recruit/study_recruit_page.dart
  designer_v2/lib/features/study/study_controller.dart
  designer_v2/lib/features/study/study_controller.g.dart
  designer_v2/lib/features/study/study_test_page.dart
  designer_v2/lib/localization/app_de.arb
  designer_v2/lib/localization/app_en.arb
  designer_v2/lib/main.dart
  designer_v2/lib/repositories/api_client.dart
  designer_v2/lib/repositories/invite_code_repository.dart
  designer_v2/lib/repositories/supabase_client.dart
  designer_v2/pubspec.lock
  designer_v2/pubspec.yaml
  flutter_common/CHANGELOG.md
  flutter_common/pubspec.lock
  flutter_common/pubspec.yaml
  melos.yaml
Labels: documentation, dependencies, app, core, flutter_common, designer_v2
