Repository hpi-studyu/studyu, pull requests merged in 2024-03, with the labels that each got.

#575 Feat/multimodal revised improvements
  app/lib/l10n/app_de.arb
  app/lib/l10n/app_en.arb
  app/lib/screens/study/multimodal/capture_picture_screen.dart
  app/lib/screens/study/multimodal/record_audio_screen.dart
  app/lib/screens/study/tasks/intervention/checkmark_task_widget.dart
  app/lib/screens/study/tasks/observation/questionnaire_task_widget.dart
  app/lib/util/cache.dart
  app/lib/util/multimodal/encrypted_audio_file.dart
  app/lib/util/multimodal/encrypter_handler.dart
  app/lib/util/multimodal/key_storage.dart
  app/lib/util/multimodal/persistent_storage_handler.dart
  app/lib/util/study_subject_extension.dart
  app/lib/util/temporary_storage_handler.dart
  app/lib/widgets/questionnaire/audio_recording_question_widget.dart
  app/lib/widgets/questionnaire/capture_question_widget.dart
  app/lib/widgets/questionnaire/image_capturing_question_widget.dart
  app/pubspec.lock
  app/pubspec.yaml
  core/lib/src/models/questionnaire/future_blob_file.dart
  core/lib/src/models/questionnaire/questionnaire_models.dart
  core/lib/src/models/questionnaire/questions/audio_recording_question.dart
  core/lib/src/models/questionnaire/questions/audio_recording_question.g.dart
  core/lib/src/models/questionnaire/questions/image_capturing_question.dart
  core/lib/src/models/tables/study_subject.dart
  core/lib/src/util/multimodal/blob_storage_handler.dart
  designer_v2/lib/features/design/shared/questionnaire/question/question_form_controller.dart
  designer_v2/lib/features/design/shared/questionnaire/question/question_form_data.dart
  designer_v2/lib/features/design/shared/questionnaire/question/types/audio_recording_question_form_view.dart
  designer_v2/lib/localization/app_de.arb
  designer_v2/lib/localization/app_en.arb
  docs/uml/app/lib/screens/study/multimodal/uml.svg
  docs/uml/app/lib/util/multimodal/uml.svg
  docs/uml/app/lib/widgets/questionnaire/uml.svg
  docs/uml/app/lib/widgets/uml.svg
  docs/uml/designer_v2/lib/features/design/shared/questionnaire/question/types/uml.svg
  docs/uml/designer_v2/lib/features/design/shared/questionnaire/question/uml.svg
  docs/uml/designer_v2/lib/features/design/shared/questionnaire/uml.svg
  docs/uml/designer_v2/lib/features/design/shared/uml.svg
  docs/uml/designer_v2/lib/features/design/uml.svg
Labels: documentation, dependencies, app, core, designer_v2

#588 fix: alert dialog box constraints
  designer_v2/lib/services/notification_dispatcher.dart
  docs/uml/designer_v2/lib/services/uml.svg
  docs/uml/designer_v2/lib/uml.svg
Labels: documentation, designer_v2

#587 fix: missing notification icon
  app/android/app/src/main/res/drawable-hdpi/ic_notification.png
  app/android/app/src/main/res/drawable-mdpi/ic_notification.png
  app/android/app/src/main/res/drawable-xhdpi/ic_notification.png
  app/android/app/src/main/res/drawable-xxhdpi/ic_notification.png
  app/android/app/src/main/res/drawable-xxxhdpi/ic_notification.png
  app/lib/util/notifications.dart
  docs/uml/app/lib/util/uml.svg
Labels: documentation, app

#591 refactor: improve return type of publishedPublicStudies()
  app/lib/screens/study/onboarding/study_selection.dart
  core/lib/src/models/tables/study.dart
  core/lib/src/util/supabase_object.dart
Labels: app, core

#589 Fix/upgrade 24 02 29
  CHANGELOG.md
  app/CHANGELOG.md
  app/ios/Podfile.lock
  app/ios/Runner.xcodeproj/project.pbxproj
  app/ios/Runner.xcodeproj/xcshareddata/xcschemes/Runner.xcscheme
  app/pubspec.lock
  app/pubspec.yaml
  core/CHANGELOG.md
  core/pubspec.lock
  core/pubspec.yaml
  designer_v2/CHANGELOG.md
  designer_v2/pubspec.lock
  designer_v2/pubspec.yaml
  flutter_common/CHANGELOG.md
  flutter_common/pubspec.lock
  flutter_common/pubspec.yaml
  pubspec.lock
  pubspec.yaml
Labels: documentation, dependencies, app, core, flutter_common, designer_v2

#580 fix: future-proof deserialization of studies with exceptions
  .github/workflows/uml-docs.yml
  app/lib/l10n/app_de.arb
  app/lib/l10n/app_en.arb
  app/lib/screens/app_onboarding/preview.dart
  app/lib/screens/study/onboarding/study_selection.dart
  core/lib/src/models/expressions/expression.dart
  core/lib/src/models/interventions/intervention_task.dart
  core/lib/src/models/models.dart
  core/lib/src/models/observations/observation.dart
  core/lib/src/models/questionnaire/question.dart
  core/lib/src/models/questionnaire/questions/choice_question.dart
  core/lib/src/models/report/report_section.dart
  core/lib/src/models/results/result.dart
  core/lib/src/models/study_results/study_result.dart
  core/lib/src/models/tables/study.dart
  core/lib/src/models/tables/study_subject.dart
  core/lib/src/models/unknown_json_type_error.dart
  core/lib/src/util/supabase_object.dart
  docs/uml/app/lib/screens/study/onboarding/uml.svg
  docs/uml/app/lib/screens/study/report/uml.svg
  docs/uml/app/lib/screens/study/uml.svg
  docs/uml/app/lib/screens/uml.svg
  docs/uml/app/lib/uml.svg
  docs/uml/core/lib/src/models/eligibility/uml.svg
  docs/uml/core/lib/src/models/interventions/tasks/uml.svg
  docs/uml/core/lib/src/models/interventions/uml.svg
  docs/uml/core/lib/src/models/report/sections/uml.svg
  docs/uml/core/lib/src/models/report/uml.svg
  docs/uml/core/lib/src/models/study_results/results/uml.svg
  docs/uml/core/lib/src/models/study_results/uml.svg
  docs/uml/core/lib/src/models/study_schedule/uml.svg
Labels: documentation, app, core

#576 feat: check min app version and force update
  app/lib/app.dart
  app/lib/constants.dart
  app/lib/l10n/app_de.arb
  app/lib/l10n/app_en.arb
  app/lib/main.dart
  app/lib/routes.dart
  app/lib/screens/app_onboarding/app_outdated_screen.dart
  core/lib/src/models/tables/app_config.dart
  core/lib/src/models/tables/app_config.g.dart
  database/app_config.sql.example
  database/migration/migrate-app_min_version.sql
  database/studyu-schema.sql
  docker/supabase/tests/010-study.sql
  docs/database/README.md
  docs/database/public.app_config.md
  docs/database/public.app_config.svg
  docs/database/schema.json
  docs/database/schema.svg
  docs/uml/app/lib/screens/app_onboarding/uml.svg
Labels: documentation, app, core, docker

#593 Fix/offline mode improvements
  app/ios/Podfile.lock
  app/lib/app.dart
  app/lib/models/app_state.dart
  app/lib/screens/app_onboarding/loading_screen.dart
  app/lib/screens/app_onboarding/terms.dart
  app/lib/screens/study/tasks/task_screen.dart
  app/lib/util/cache.dart
  app/pubspec.lock
  app/pubspec.yaml
  core/lib/src/models/tables/study_subject.dart
  core/lib/src/util/supabase_object.dart
  docs/uml/app/lib/screens/app_onboarding/uml.svg
  docs/uml/app/lib/screens/study/tasks/uml.svg
  docs/uml/app/lib/screens/uml.svg
  docs/uml/app/lib/uml.svg
  docs/uml/app/lib/util/uml.svg
Labels: documentation, dependencies, app, core

#592 Update preparations 2024-03
  CHANGELOG.md
  app/CHANGELOG.md
  app/android/app/build.gradle
  app/lib/screens/study/dashboard/dashboard.dart
  app/lib/screens/study/dashboard/settings.dart
  app/lib/theme.dart
  app/pubspec.lock
  app/pubspec.yaml
  core/CHANGELOG.md
  core/pubspec.lock
  core/pubspec.yaml
  database/app_config.sql.example
  database/migration/migrate-app_min_version.sql
  designer_v2/CHANGELOG.md
  designer_v2/lib/common_views/navbar_tabbed.dart
  designer_v2/lib/features/dashboard/studies_table_item.dart
  designer_v2/lib/features/design/shared/questionnaire/question/types/question_type.dart
  designer_v2/pubspec.lock
  designer_v2/pubspec.yaml
  designer_v2/web/index.html
  docs/uml/app/lib/screens/study/dashboard/uml.svg
  docs/uml/designer_v2/lib/common_views/uml.svg
  docs/uml/designer_v2/lib/features/dashboard/uml.svg
  docs/uml/designer_v2/lib/features/design/shared/questionnaire/question/types/uml.svg
  docs/uml/designer_v2/lib/features/design/shared/questionnaire/question/uml.svg
  docs/uml/designer_v2/lib/features/design/shared/questionnaire/uml.svg
  docs/uml/designer_v2/lib/features/design/shared/uml.svg
  docs/uml/designer_v2/lib/features/design/uml.svg
  docs/uml/designer_v2/lib/features/uml.svg
  docs/uml/designer_v2/lib/uml.svg
  flutter_common/CHANGELOG.md
  flutter_common/pubspec.lock
  flutter_common/pubspec.yaml
  pubspec.lock
  pubspec.yaml
Labels: documentation, dependencies, app, core, flutter_common, designer_v2

#594 Fix/2024 03 deployment
  CHANGELOG.md
  app/CHANGELOG.md
  app/pubspec.lock
  app/pubspec.yaml
  core/CHANGELOG.md
  core/pubspec.yaml
  designer_v2/CHANGELOG.md
  designer_v2/pubspec.lock
  designer_v2/pubspec.yaml
  flutter_common/CHANGELOG.md
  flutter_common/pubspec.lock
  flutter_common/pubspec.yaml
Labels: documentation, dependencies, app, core, flutter_common, designer_v2

#595 Fix/2024 03 deployment 2
  CHANGELOG.md
  app/CHANGELOG.md
  app/ios/Podfile.lock
  app/ios/Runner.xcodeproj/project.pbxproj
  app/pubspec.yaml
Labels: documentation, dependencies, app

#597 fix: disable freetext for Designer UI surveys
  CHANGELOG.md
  designer_v2/CHANGELOG.md
  designer_v2/lib/features/design/shared/questionnaire/question/question_form_view.dart
  designer_v2/lib/features/design/shared/questionnaire/question/types/question_type.dart
  designer_v2/pubspec.yaml
  docs/uml/designer_v2/lib/features/design/shared/questionnaire/question/types/uml.svg
  docs/uml/designer_v2/lib/features/design/shared/questionnaire/question/uml.svg
  docs/uml/designer_v2/lib/features/design/shared/questionnaire/uml.svg
  docs/uml/designer_v2/lib/features/design/shared/uml.svg
  docs/uml/designer_v2/lib/features/design/uml.svg
Labels: documentation, dependencies, designer_v2

#599 hotfix(studyu_designer_v2@1.6.3): Disable freetext UI
  CHANGELOG.md
  designer_v2/CHANGELOG.md
  designer_v2/lib/features/design/shared/questionnaire/question/question_form_view.dart
  designer_v2/lib/features/design/shared/questionnaire/question/types/question_type.dart
  designer_v2/pubspec.yaml
  docs/uml/designer_v2/lib/features/design/shared/questionnaire/question/types/uml.svg
  docs/uml/designer_v2/lib/features/design/shared/questionnaire/question/uml.svg
  docs/uml/designer_v2/lib/features/design/shared/questionnaire/uml.svg
  docs/uml/designer_v2/lib/features/design/shared/uml.svg
  docs/uml/designer_v2/lib/features/design/uml.svg
Labels: documentation, dependencies, designer_v2
