Repository hpi-studyu/studyu, pull requests merged in 2024-02, with the labels that each got.

#572 Fix/upgrade 0124 2
  CHANGELOG.md
  app/CHANGELOG.md
  app/pubspec.lock
  app/pubspec.yaml
  core/CHANGELOG.md
  core/pubspec.lock
  core/pubspec.yaml
  designer_v2/CHANGELOG.md
  designer_v2/pubspec.lock
  designer_v2/pubspec.yaml
  flutter_common/CHANGELOG.md
  flutter_common/pubspec.lock
  flutter_common/pubspec.yaml
Labels: documentation, dependencies, app, core, flutter_common, designer_v2

#555 Feat/studiestablelistview: Implement studies table with ListView
  designer_v2/lib/common_views/badge.dart
  designer_v2/lib/common_views/search.dart
  designer_v2/lib/features/app_drawer.dart
  designer_v2/lib/features/dashboard/dashboard_controller.dart
  designer_v2/lib/features/dashboard/dashboard_page.dart
  designer_v2/lib/features/dashboard/dashboard_scaffold.dart
  designer_v2/lib/features/dashboard/dashboard_state.dart
  designer_v2/lib/features/dashboard/studies_table.dart
  designer_v2/lib/features/dashboard/studies_table_column_header.dart
  designer_v2/lib/features/dashboard/studies_table_item.dart
  designer_v2/lib/features/study/study_participation_badge.dart
  designer_v2/lib/features/study/study_scaffold.dart
  designer_v2/lib/localization/app_de.arb
  docs/uml/designer_v2/lib/features/dashboard/uml.svg
  docs/uml/designer_v2/lib/features/study/uml.svg
  docs/uml/designer_v2/lib/features/uml.svg
Labels: documentation, designer_v2

#577 Feat/debug auth helper
  designer_v2/lib/features/auth/auth_form_controller.dart
  designer_v2/lib/features/auth/auth_form_fields.dart
  designer_v2/lib/features/auth/login_form_view.dart
  designer_v2/lib/features/auth/password_recovery_form_view.dart
  designer_v2/lib/features/auth/signup_form_view.dart
  docs/uml/designer_v2/lib/features/auth/uml.svg
  docs/uml/designer_v2/lib/features/uml.svg
  docs/uml/designer_v2/lib/uml.svg
Labels: documentation, designer_v2

#579 chore: only sign if keystore file is present
  app/android/app/build.gradle
Labels: app

#584 Chore/ios upgrade
  .github/workflows/deploy-apps.yml
  .mega-linter.yml
  app/ios/Flutter/AppFrameworkInfo.plist
  app/ios/Gemfile.lock
  app/ios/Podfile.lock
  app/ios/Runner.xcodeproj/project.pbxproj
  app/ios/Runner.xcworkspace/xcshareddata/WorkspaceSettings.xcsettings
  app/ios/Runner/Info.plist
Labels: app
