Repository hpi-studyu/studyu, pull requests merged in 2024-06, with the labels that each got.

#636 perf: improve dashboard study fetching
  core/lib/src/models/tables/study.dart
  core/lib/src/models/tables/study.g.dart
  designer_v2/lib/repositories/api_client.dart
Labels: core, designer_v2

#643 Feat/monitoring check list refactor
  designer_v2/lib/domain/study_monitoring.dart
  designer_v2/lib/features/monitor/participant_details_view.dart
  designer_v2/lib/features/monitor/study_monitor_page.dart
  designer_v2/lib/features/monitor/study_monitor_table.dart
  designer_v2/lib/localization/app_de.arb
  designer_v2/lib/localization/app_en.arb
  designer_v2/lib/utils/extensions.dart
Labels: designer_v2

#644 fix: duplicate study missing intervention & measurement data
  designer_v2/lib/repositories/api_client.dart
  designer_v2/lib/repositories/study_repository.dart
Labels: designer_v2

#634 feat: Introduce study status and add closing state
  .github/workflows/supabase-test.yml
  app/lib/screens/study/onboarding/study_selection.dart
  core/lib/src/models/tables/study.dart
  core/lib/src/models/tables/study.g.dart
  database/migration/20240526_migrate_close_study.sql
  database/migration/migrate-close_study.sql
  database/studyu-schema.sql
  designer_v2/lib/common_views/action_popup_menu.dart
  designer_v2/lib/domain/study.dart
  designer_v2/lib/features/dialogs/close/study_close_dialog_confirm.dart
  designer_v2/lib/features/dialogs/close/study_close_dialog_success.dart
  designer_v2/lib/features/dialogs/publish/study_publish_dialog_confirm.dart
  designer_v2/lib/features/dialogs/publish/study_publish_dialog_success.dart
  designer_v2/lib/features/dialogs/study_dialogs.dart
  designer_v2/lib/features/publish/study_publish_dialog.dart
  designer_v2/lib/features/recruit/study_recruit_page.dart
  designer_v2/lib/features/study/study_actions.dart
  designer_v2/lib/features/study/study_controller.dart
  designer_v2/lib/features/study/study_controller_state.dart
  designer_v2/lib/features/study/study_scaffold.dart
  designer_v2/lib/localization/app_de.arb
  designer_v2/lib/localization/app_en.arb
  designer_v2/lib/repositories/api_client.dart
  designer_v2/lib/repositories/study_repository.dart
  designer_v2/lib/services/notifications.dart
  designer_v2/lib/utils/model_action.dart
  supabase/seed.sql
  supabase/tests/010-study.sql
Labels: app, core, designer_v2

#601 Feat/study closing: Add option to close a study
  .github/workflows/supabase-test.yml
  app/lib/l10n/app_de.arb
  app/lib/l10n/app_en.arb
  app/lib/screens/study/onboarding/study_selection.dart
  app/lib/util/cache.dart
  app/lib/util/study_subject_extension.dart
  core/lib/src/models/tables/study.dart
  core/lib/src/models/tables/study.g.dart
  core/lib/src/models/tables/study_subject.dart
  core/lib/src/util/supabase_object.dart
  database/migration/20240526_migrate_close_study.sql
  database/studyu-schema.sql
  designer_v2/lib/common_views/action_popup_menu.dart
  designer_v2/lib/domain/study.dart
  designer_v2/lib/features/dialogs/close/study_close_dialog_confirm.dart
  designer_v2/lib/features/dialogs/close/study_close_dialog_success.dart
  designer_v2/lib/features/dialogs/publish/study_publish_dialog_confirm.dart
  designer_v2/lib/features/dialogs/publish/study_publish_dialog_success.dart
  designer_v2/lib/features/dialogs/study_dialogs.dart
  designer_v2/lib/features/publish/study_publish_dialog.dart
  designer_v2/lib/features/recruit/study_recruit_page.dart
  designer_v2/lib/features/study/study_controller.dart
  designer_v2/lib/features/study/study_controller_state.dart
  designer_v2/lib/features/study/study_scaffold.dart
  designer_v2/lib/features/study/study_status_badge.dart
  designer_v2/lib/localization/app_de.arb
  designer_v2/lib/localization/app_en.arb
  designer_v2/lib/repositories/api_client.dart
  designer_v2/lib/repositories/study_repository.dart
  designer_v2/lib/services/notifications.dart
  designer_v2/lib/utils/model_action.dart
  supabase/seed.sql
  supabase/tests/010-study.sql
Labels: app, core, designer_v2
