Repository hpi-studyu/studyu, pull requests merged in 2024-07, with the labels that each got.

#653 Fix/invite validations
  designer_v2/l10n-missing.txt
  designer_v2/lib/features/forms/form_view_model.dart
  designer_v2/lib/features/recruit/invite_code_form_controller.dart
  designer_v2/lib/features/recruit/invite_code_form_controller.g.dart
  designer_v2/lib/features/recruit/invite_code_form_view.dart
  designer_v2/lib/localization/app_de.arb
  designer_v2/lib/localization/app_en.arb
Labels: designer_v2

#654 fix: designer read only fields
  designer_v2/lib/features/design/enrollment/enrollment_form_view.dart
  designer_v2/lib/features/design/interventions/study_schedule_form_view.dart
Labels: designer_v2

#655 fix(designer): Refresh dashboard study table on pin change
  designer_v2/lib/features/dashboard/dashboard_page.dart
  designer_v2/lib/features/dashboard/dashboard_state.dart
Labels: designer_v2

#656 fix: redundant click prevention bug
  app/lib/screens/study/tasks/intervention/checkmark_task_widget.dart
  app/lib/screens/study/tasks/observation/questionnaire_task_widget.dart
  app/lib/util/misc.dart
Labels: app

#646 feat(designer): Monitoring section
  core/lib/src/models/study_schedule/study_schedule.dart
  core/lib/src/models/tables/study_subject.dart
  designer_v2/l10n-missing.txt
  designer_v2/lib/common_views/standard_table.dart
  designer_v2/lib/common_views/striped_gradient.dart
  designer_v2/lib/common_views/utils.dart
  designer_v2/lib/constants.dart
  designer_v2/lib/domain/study_monitoring.dart
  designer_v2/lib/features/design/interventions/interventions_form_view.dart
  designer_v2/lib/features/monitor/participant/colors.dart
  designer_v2/lib/features/monitor/participant/participant_details_view.dart
  designer_v2/lib/features/monitor/participant/participant_info.dart
  designer_v2/lib/features/monitor/participant/participant_legend.dart
  designer_v2/lib/features/monitor/participant/participant_square.dart
  designer_v2/lib/features/monitor/participant/participant_squares.dart
  designer_v2/lib/features/monitor/study_monitor_page.dart
  designer_v2/lib/features/monitor/study_monitor_table.dart
  designer_v2/lib/features/study/study_controller_state.dart
  designer_v2/lib/localization/app_de.arb
  designer_v2/lib/localization/app_en.arb
  designer_v2/lib/utils/extensions.dart
  designer_v2/pubspec.lock
  designer_v2/pubspec.yaml
Labels: dependencies, core, designer_v2

#657 Chore/upgrade deps
  CHANGELOG.md
  app/CHANGELOG.md
  app/android/Gemfile.lock
  app/ios/Gemfile.lock
  app/ios/Podfile.lock
  app/pubspec.lock
  app/pubspec.yaml
  core/CHANGELOG.md
  core/pubspec.lock
  core/pubspec.yaml
  designer_v2/CHANGELOG.md
  designer_v2/pubspec.lock
  designer_v2/pubspec.yaml
  flutter_common/CHANGELOG.md
  flutter_common/pubspec.lock
  flutter_common/pubspec.yaml
  pubspec.lock
Labels: documentation, dependencies, app, core, flutter_common, designer_v2

#660 Chore/fvm integration
  .fvmrc
  .github/workflows/e2e_tests.yml
  .github/workflows/init-workspace/action.yml
  .gitignore
  CONTRIBUTING.md
  app/android/Gemfile.lock
  app/pubspec.lock
  app/pubspec.yaml
  core/pubspec.lock
  designer_v2/lib/features/monitor/participant/participant_legend.dart
  designer_v2/lib/features/monitor/participant/participant_squares.dart
  designer_v2/pubspec.lock
  flutter_common/pubspec.lock
  melos.yaml
  pubspec.lock
Labels: documentation, dependencies, app, core, flutter_common, designer_v2

#663 ci: New linter actions
  .fvmrc
  .github/workflows/all_packages.yml
  .github/workflows/check-uncomitted-changes.yml
  .github/workflows/deploy-apps.yml
  .github/workflows/linter.yml
  .github/workflows/ready_to_merge.yml
  .gitignore
  .markdown_link_check.yml
  README.md
  app/.gitignore
  app/android/fastlane/metadata/android/en-US/full_description.txt
  app/android/fastlane/metadata/android/en-US/short_description.txt
  app/android/fastlane/metadata/android/en-US/title.txt
  app/ios/Runner/Assets.xcassets/LaunchImage.imageset/README.md
  app/macos/Runner/Assets.xcassets/AppIcon.appiconset/Contents.json
  app/web/manifest.json
  database/migration/20230630_migrate-v2_6.sql
  database/migration/20231011_migrate_db.sql
  designer_v2/web/manifest.json
Labels: documentation, app, designer_v2

#659 Fix/outdated cached subject
  app/lib/screens/app_onboarding/loading_screen.dart
  app/lib/util/cache.dart
Labels: app

#665 Chore/version 0724
  CHANGELOG.md
  app/CHANGELOG.md
  app/pubspec.lock
  app/pubspec.yaml
  core/CHANGELOG.md
  core/pubspec.yaml
  designer_v2/CHANGELOG.md
  designer_v2/pubspec.lock
  designer_v2/pubspec.yaml
  flutter_common/CHANGELOG.md
  flutter_common/pubspec.lock
  flutter_common/pubspec.yaml
Labels: documentation, dependencies, app, core, flutter_common, designer_v2
