Repository hpi-studyu/studyu, pull requests merged in 2024-01, with the labels that each got.

#549 Chore/upgrade 1223 2
  .github/workflows/e2e_tests.yml
  app/lib/screens/study/onboarding/study_selection.dart
  app/pubspec.lock
  app/pubspec.yaml
  core/lib/src/env/env.dart
  core/lib/src/models/tables/app_config.dart
  core/lib/src/models/tables/repo.dart
  core/lib/src/models/tables/study.dart
  core/lib/src/models/tables/study_invite.dart
  core/lib/src/models/tables/study_subject.dart
  core/lib/src/models/tables/subject_progress.dart
  core/lib/src/models/tables/user.dart
  core/lib/src/util/supabase_object.dart
  core/pubspec.lock
  core/pubspec.yaml
  designer_v2/lib/common_views/form_scaffold.dart
  designer_v2/lib/features/app.dart
  designer_v2/lib/features/forms/form_view_model.dart
  designer_v2/lib/features/study/study_test_controller.dart
  designer_v2/lib/main.dart
  designer_v2/lib/repositories/auth_repository.dart
  designer_v2/pubspec.lock
  designer_v2/pubspec.yaml
  docs/uml/app/lib/screens/study/onboarding/uml.svg
  docs/uml/app/lib/screens/study/uml.svg
  docs/uml/app/lib/screens/uml.svg
  docs/uml/app/lib/uml.svg
  docs/uml/core/lib/src/util/uml.svg
  docs/uml/designer_v2/lib/common_views/uml.svg
  docs/uml/designer_v2/lib/features/forms/uml.svg
  docs/uml/designer_v2/lib/features/study/uml.svg
  docs/uml/designer_v2/lib/features/uml.svg
  docs/uml/designer_v2/lib/repositories/uml.svg
  docs/uml/designer_v2/lib/uml.svg
  flutter_common/lib/src/utils/env_loader.dart
  flutter_common/pubspec.lock
  flutter_common/pubspec.yaml
Labels: documentation, dependencies, app, core, flutter_common, designer_v2

#552 Fix/auth forms validation
  designer_v2/analysis_options.yaml
  designer_v2/lib/features/auth/auth_form_controller.dart
  designer_v2/lib/features/forms/form_view_model.dart
  designer_v2/lib/localization/app_de.arb
  designer_v2/lib/localization/app_en.arb
  designer_v2/lib/repositories/auth_repository.dart
  designer_v2/lib/services/notifications.dart
  designer_v2/lib/utils/exceptions.dart
  designer_v2/lib/utils/validation.dart
  designer_v2/pubspec.lock
  designer_v2/pubspec.yaml
  docs/uml/designer_v2/lib/features/auth/uml.svg
  docs/uml/designer_v2/lib/features/uml.svg
  docs/uml/designer_v2/lib/services/uml.svg
  docs/uml/designer_v2/lib/uml.svg
  docs/uml/designer_v2/lib/utils/uml.svg
Labels: documentation, dependencies, designer_v2

#562 fix: type checks
  app/lib/screens/study/report/report_section_container.dart
  app/lib/screens/study/tasks/observation/questionnaire_task_widget.dart
  app/lib/screens/study/tasks/task_screen.dart
  app/lib/widgets/questionnaire/question_container.dart
  core/lib/src/models/questionnaire/answer.dart
  core/lib/src/models/results/result.dart
  core/lib/src/models/tables/study_subject.dart
  core/lib/src/util/supabase_object.dart
  core/pubspec.yaml
  designer_v2/lib/features/design/shared/questionnaire/question/question_form_data.dart
  designer_v2/pubspec.yaml
  docs/uml/app/lib/screens/study/report/uml.svg
  docs/uml/app/lib/screens/study/uml.svg
  docs/uml/app/lib/screens/uml.svg
  docs/uml/app/lib/uml.svg
  docs/uml/app/lib/widgets/questionnaire/uml.svg
  docs/uml/app/lib/widgets/uml.svg
  docs/uml/core/lib/src/models/questionnaire/uml.svg
  docs/uml/core/lib/src/models/results/uml.svg
  docs/uml/designer_v2/lib/features/design/shared/questionnaire/question/uml.svg
  docs/uml/designer_v2/lib/features/design/shared/questionnaire/uml.svg
  docs/uml/designer_v2/lib/features/design/shared/uml.svg
  docs/uml/designer_v2/lib/features/design/uml.svg
  docs/uml/designer_v2/lib/uml.svg
Labels: documentation, dependencies, app, core, designer_v2

#565 chore: update podfile
  app/ios/Flutter/Release.xcconfig
  app/ios/Podfile.lock
  app/ios/Runner.xcodeproj/project.pbxproj
  app/ios/Runner.xcodeproj/xcshareddata/xcschemes/Runner.xcscheme
Labels: app

#559 Chore/gh actions refactor
  .cspell.json
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/scripts/generate-uml.bash
  .github/workflows/all_packages.yml
  .github/workflows/check-uncomitted-changes.yml
  .github/workflows/db-docs.yml
  .github/workflows/deploy-apps.yml
  .github/workflows/e2e_tests.yml
  .github/workflows/firebase-hosting-merge-dev.yml
  .github/workflows/firebase-hosting-merge.yml
  .github/workflows/firebase-hosting-pull-request.yml
  .github/workflows/init-workspace/action.yml
  .github/workflows/lint-markdown.yml
  .github/workflows/mega-linter.yml
  .github/workflows/publish_pubdev.yml
  .github/workflows/release_app.yml
  .github/workflows/release_generator.yml
  .github/workflows/release_notebook_uploader.yml
  .github/workflows/supabase-test.yml
  .github/workflows/uml-docs.yml
  .gitignore
  .jscpd.json
  .markdown_link_check.yml
  .mega-linter.yml
  .meta/.markdownlintignore
  .meta/.mdlrc
  .sqlfluff
  CONTRIBUTING.md
  docker/supabase/scripts/dump_data.sh
  docker/supabase/scripts/dump_schema.sh
  docker/supabase/scripts/execute_sql.sh
  docs/README.md
  melos.yaml
Labels: documentation, docker

#567 Fix/upgrade 0124
  CHANGELOG.md
  app/CHANGELOG.md
  app/ios/Podfile.lock
  app/pubspec.lock
  app/pubspec.yaml
  core/CHANGELOG.md
  core/pubspec.lock
  core/pubspec.yaml
  designer_v2/CHANGELOG.md
  designer_v2/pubspec.lock
  designer_v2/pubspec.yaml
  flutter_common/CHANGELOG.md
  flutter_common/pubspec.lock
  flutter_common/pubspec.yaml
  pubspec.lock
  pubspec.yaml
Labels: documentation, dependencies, app, core, flutter_common, designer_v2
