Repository hpi-studyu/studyu, pull requests merged in 2025-09, with the labels that each got.

#728 feat: pain selection
  app/assets/images/body_back.svg
  app/assets/images/body_front.svg
  app/lib/l10n/app_de.arb
  app/lib/l10n/app_en.arb
  app/lib/l10n/app_localizations.dart
  app/lib/l10n/app_localizations_de.dart
  app/lib/l10n/app_localizations_en.dart
  app/lib/util/pain_selection/svg_parser.dart
  app/lib/util/pain_selection/svg_service.dart
  app/lib/widgets/questionnaire/pain_selection/body_part_selector.dart
  app/lib/widgets/questionnaire/pain_selection/body_part_selector_turnable.dart
  app/lib/widgets/questionnaire/question_container.dart
  app/lib/widgets/questionnaire/questions/pain_question_widget.dart
  app/pubspec.yaml
  core/lib/src/models/questionnaire/body.dart
  core/lib/src/models/questionnaire/body.g.dart
  core/lib/src/models/questionnaire/body_pain.dart
  core/lib/src/models/questionnaire/body_pain.g.dart
  core/lib/src/models/questionnaire/body_part.dart
  core/lib/src/models/questionnaire/body_part.g.dart
  core/lib/src/models/questionnaire/pain_type.dart
  core/lib/src/models/questionnaire/pain_type.g.dart
  core/lib/src/models/questionnaire/question.dart
  core/lib/src/models/questionnaire/questionnaire_models.dart
  core/lib/src/models/questionnaire/questions/pain_question.dart
  core/lib/src/models/questionnaire/questions/pain_question.g.dart
  core/lib/src/models/questionnaire/questions/questions.dart
  designer_v2/lib/features/design/shared/questionnaire/question/question_form_controller.dart
  designer_v2/lib/features/design/shared/questionnaire/question/question_form_data.dart
  designer_v2/lib/features/design/shared/questionnaire/question/question_form_view.dart
  designer_v2/lib/features/design/shared/questionnaire/question/types/pain_question_form_view.dart
  designer_v2/lib/features/design/shared/questionnaire/question/types/question_type.dart
  designer_v2/lib/localization/app_de.arb
  designer_v2/lib/localization/app_en.arb
  designer_v2/lib/localization/app_localizations.dart
  designer_v2/lib/localization/app_localizations_de.dart
  designer_v2/lib/localization/app_localizations_en.dart
  pubspec.lock
  pubspec.yaml
Labels: dependencies, app, core, designer_v2

#730 feat: Conditional questions
  .github/workflows/all_packages.yml
  .github/workflows/linter.yml
  .vscode/settings.json
  app/lib/l10n/app_de.arb
  app/lib/l10n/app_en.arb
  app/lib/l10n/app_localizations.dart
  app/lib/l10n/app_localizations_de.dart
  app/lib/l10n/app_localizations_en.dart
  app/lib/screens/study/onboarding/eligibility_screen.dart
  app/lib/screens/study/report/report_history.dart
  app/lib/screens/study/tasks/observation/questionnaire_task_widget.dart
  app/lib/widgets/questionnaire/custom_slider.dart
  app/lib/widgets/questionnaire/questionnaire_widget.dart
  core/lib/src/env/env.dart
  core/lib/src/models/expressions/expression.dart
  core/lib/src/models/expressions/types/composite_expression.dart
  core/lib/src/models/expressions/types/composite_expression.g.dart
  core/lib/src/models/expressions/types/numeric_expression.dart
  core/lib/src/models/expressions/types/numeric_expression.g.dart
  core/lib/src/models/expressions/types/text_expression.dart
  core/lib/src/models/expressions/types/text_expression.g.dart
  core/lib/src/models/expressions/types/types.dart
  core/lib/src/models/questionnaire/question_conditional.dart
  core/lib/src/models/questionnaire/question_conditional.g.dart
  core/lib/src/models/questionnaire/questionnaire_models.dart
  core/lib/src/models/questionnaire/questions/audio_recording_question.dart
  core/lib/src/models/questionnaire/questions/choice_question.dart
  core/lib/src/models/questionnaire/questions/fitbit_question.dart
  core/lib/src/models/questionnaire/questions/image_capturing_question.dart
  core/lib/src/models/questionnaire/questions/pain_question.dart
  core/lib/src/models/questionnaire/questions/scale_question.dart
  designer_v2/lib/common_views/action_popup_menu.dart
  designer_v2/lib/common_views/form_consumer_widget.dart
  designer_v2/lib/features/design/enrollment/enrollment_form_view.dart
  designer_v2/lib/features/design/interventions/intervention_form_view.dart
  designer_v2/lib/features/design/interventions/interventions_form_view.dart
  designer_v2/lib/features/design/measurements/measurements_form_view.dart
  designer_v2/lib/features/design/measurements/survey/survey_form_view.dart
  designer_v2/lib/features/design/reports/reports_form_view.dart
  designer_v2/lib/features/design/shared/questionnaire/question/question_conditional_form_controller.dart
  designer_v2/lib/features/design/shared/questionnaire/question/question_conditional_form_view.dart
  designer_v2/lib/features/design/shared/questionnaire/question/question_conditional_live_preview.dart
  designer_v2/lib/features/design/shared/questionnaire/question/question_conditional_row_form_controller.dart
  designer_v2/lib/features/design/shared/questionnaire/question/question_conditional_row_form_data.dart
  designer_v2/lib/features/design/shared/questionnaire/question/question_form_controller.dart
  designer_v2/lib/features/design/shared/questionnaire/question/question_form_data.dart
  designer_v2/lib/features/design/shared/questionnaire/question/types/choice_question_form_view.dart
  designer_v2/lib/features/design/shared/questionnaire/question/types/question_type.dart
  designer_v2/lib/features/forms/form_list_view.dart
  designer_v2/lib/features/study/study_test_frame.dart
  designer_v2/lib/localization/app_de.arb
  designer_v2/lib/localization/app_en.arb
  designer_v2/lib/localization/app_localizations.dart
  designer_v2/lib/localization/app_localizations_de.dart
  designer_v2/lib/localization/app_localizations_en.dart
Labels: app, core, designer_v2

#740 Fix/hotify deployments
  .github/workflows/deploy-apps.yml
  flutter_common/lib/envs/.env.dev
Labels: flutter_common

#743 feat: app preview for debug mode
  app/l10n-missing.txt
  app/lib/l10n/app_de.arb
  app/lib/l10n/app_en.arb
  app/lib/l10n/app_localizations.dart
  app/lib/l10n/app_localizations_de.dart
  app/lib/l10n/app_localizations_en.dart
  app/lib/models/app_state.dart
  app/lib/screens/study/dashboard/dashboard.dart
  app/lib/screens/study/tasks/task_screen.dart
  app/lib/util/debug_screen.dart
  app/lib/widgets/questionnaire/questionnaire_widget.dart
Labels: app

#744 fix: study duplication data loss
  designer_v2/lib/features/app_drawer.dart
  designer_v2/lib/repositories/api_client.dart
  designer_v2/lib/repositories/study_repository.dart
Labels: designer_v2

#745 Release/09 25 version
  .github/workflows/firebase-hosting-merge-dev.yml
  .github/workflows/firebase-hosting-merge.yml
  .github/workflows/firebase-hosting-pull-request.yml
  designer_v2/lib/common_views/utils.dart
  designer_v2/lib/features/account/account_settings.dart
  designer_v2/lib/features/auth/auth_scaffold.dart
  designer_v2/pubspec.yaml
Labels: dependencies, designer_v2

#749 perf(designer): Dashboard improve study loading
  CHANGELOG.md
  app/l10n-missing.txt
  app/pubspec.yaml
  designer_v2/lib/common_views/utils.dart
  designer_v2/lib/features/auth/auth_scaffold.dart
  designer_v2/lib/features/design/study_form_controller.dart
  designer_v2/lib/features/study/study_base_controller.dart
  designer_v2/lib/features/study/study_base_controller.g.dart
  designer_v2/lib/repositories/api_client.dart
  designer_v2/lib/repositories/model_repository.dart
  designer_v2/lib/repositories/study_repository.dart
  designer_v2/lib/repositories/user_repository.dart
  designer_v2/pubspec.yaml
  flutter_common/CHANGELOG.md
  flutter_common/pubspec.yaml
Labels: documentation, dependencies, app, flutter_common, designer_v2

#752 fix(app): Questionnaire Improvements
  .github/workflows/deploy-apps.yml
  app/ios/Runner.xcodeproj/project.pbxproj
  app/lib/screens/study/tasks/observation/questionnaire_task_widget.dart
  app/lib/widgets/questionnaire/questionnaire_widget.dart
  app/lib/widgets/questionnaire/questions/choice_question_widget.dart
  app/lib/widgets/questionnaire/questions/free_text_question_widget.dart
  designer_v2/l10n-missing.txt
  flutter_common/lib/src/utils/env_loader.dart
  l10n-missing.txt
Labels: app, flutter_common, designer_v2

#764 fix(designer): conditional-bugfixes
  designer_v2/lib/features/design/shared/questionnaire/question/question_conditional_form_controller.dart
  designer_v2/lib/features/design/shared/questionnaire/question/question_conditional_form_view.dart
  designer_v2/lib/features/design/shared/questionnaire/question/question_conditional_row_form_controller.dart
  designer_v2/lib/features/design/shared/questionnaire/question/question_form_controller.dart
  designer_v2/lib/features/design/shared/questionnaire/question/question_form_data.dart
  designer_v2/lib/localization/app_de.arb
  designer_v2/lib/localization/app_en.arb
  designer_v2/lib/localization/app_localizations.dart
  designer_v2/lib/localization/app_localizations_de.dart
  designer_v2/lib/localization/app_localizations_en.dart
Labels: designer_v2

#765 chore: Update Flutter version & deps
  .fvmrc
  .github/workflows/linter.yml
  .vscode/settings.json
  app/lib/main.dart
  app/pubspec.yaml
  core/pubspec.yaml
  designer_v2/pubspec.yaml
  flutter_common/pubspec.yaml
  pubspec.lock
Labels: dependencies, app, core, flutter_common, designer_v2
