Repository hpi-studyu/studyu, pull requests merged in 2025-06, with the labels that each got.

#721 fix: UI fixes
  designer_v2/lib/features/account/account_settings.dart
  designer_v2/lib/features/design/interventions/intervention_task_form_view.dart
  designer_v2/lib/features/design/shared/questionnaire/question/question_form_view.dart
  designer_v2/lib/features/design/shared/questionnaire/question/types/choice_question_form_view.dart
  designer_v2/lib/features/design/shared/schedule/schedule_controls_view.dart
Labels: designer_v2

#727 ui(app): disable landscape mode by setting preferred orientations to portrait
  app/lib/main.dart
Labels: app

#733 fix(app): Improve loading screen error handling
  app/lib/l10n/app_de.arb
  app/lib/l10n/app_en.arb
  app/lib/l10n/app_localizations.dart
  app/lib/l10n/app_localizations_de.dart
  app/lib/l10n/app_localizations_en.dart
  app/lib/screens/app_onboarding/loading_screen.dart
  core/lib/src/models/tables/study.dart
  core/lib/src/util/supabase_object.dart
Labels: app, core
